// Configuration options for Server(s)
PORT = 3002
ACCOUNT_SID = 
AUTH_TOKEN = 
TWILIO_NUMBER = 
PHONE_NUMBER = 
IMAP_USER = 
IMAP_PASS = 
IMAP_HOST = 
IMAP_PORT = 
WEBHOOK_TARGET = http://127.0.0.1:3002/new-email